<div class="row">
	<div class="col-4  ">
		<p class="text-muted">
			Les cadres en rouge signifie qu'un message n'a pas reçu de réponse
		</p>
		<div class="text-truncate">
			PERSONS
		</div>
	</div>
	<div class="col-8">
		CARD
	</div>
</div>