<div class="d-flex flex-row justify-content-end mb-4">
	<div class="row">
		<div class="p-3 border " style="border-radius: 15px; background-color: #5fa8c4;">
			<p class="small mb-0 text-black">
				QUESTION
			</p>
		</div>
		<label class="form-label">
			il y a DATE
		</label>
	</div>
	<img src="/build/person.png" alt="avatar 1" style="width: 45px; height: 100%;">
</div>