<div class="card mt-2">
	<a href="/admin/chatboxs/CHAT" class="text-decoration-none text-dark">
		<div class="card-body TYPE">
			<div class="d-flex justify-content-between ">
				<span class="bi-person-circle">
					CHAT
				</span>
				<p class="text-muted">
					DATE
				</p>
			</div>
			<p>
				LASTMESSAGE
			</p>
		</div>
	</a>
</div>