{# /* ------------------------ macro pour les dropdowns ------------------------ */ #}
{% macro dropdown(nom,parties) %}
	{% set action =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))| split('/')| last %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			{{nom|capitalize}}
		</a>
		<ul class="dropdown-menu">
			{% for partie in parties %}
				<li>
					{% set lien = partie is iterable?partie[1]: path(partie~'_index')  %}
					{% set part = partie is iterable?partie[0]:partie %}
					<a class="dropdown-item  {{ action== part ? 'active' }}" href="{{ lien }}">
						{{ part|replace({'_':' '})|capitalize }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
{% endmacro %}