{% if app.flashes is defined %}
	<div class="container-fluid " id="flash_message" data-turbo-permanent>
		<div class="row mt-4" id="error-container">
			<div class="col-8 offset-2">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info fs-3 bg-light shadow" style=" margin-top:10px;position: fixed;z-index:3000;" role="alert">
						<p>
							{{ message }}
						</p>
					</div>
				{% endfor %}

				{% for label, messages in app.flashes(['warning', 'error']) %}
					{% for message in messages %}
						<div class="alert alert-danger fs-3 bg-light shadow" style=" margin-top:10px;position: fixed;z-index:3000;" role="alert">
							<p>
								{{ message }}
							</p>
						</div>
					{% endfor %}
				{% endfor %}
				{% for label, messages in app.flashes(['success']) %}
					{% for message in messages %}
						<div class="alert alert-success fs-3 bg-light shadow" style=" margin-top:10px;position: fixed;z-index:3000;" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}