<button type="button" class="btn  btn-lg position-fixed" data-bs-toggle="modal" data-bs-target="#modalId" style="left: 10px; bottom: 10px;z-index:5000;background-color:rgba(255, 161, 45, 0.5);">
	<div class="d-flex justify-content-around align-items-center">
		<img src="{{asset('/build/pic-192x192.png'|imagine_filter('icone'))}}" class="img-fluid" id="logopicbleu" alt="logopicbleu" title="logopicbleu"><p class="text-primary ps-2">Picbleu analyse ...</p>
	</div>
</button>

<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitleId">
					Etude personnalisée
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row" data-turbo="false">
						<form name="popin" method="post" class="row">
							<div class="col-6">
								<h2>
									<i class="bi bi-gear text-troisieme me-2"></i>Mon projet</h2>
								<div class="row">
									<div class="col-6 mb-2">
										<select id="popin_typetravaux" name="popin[typetravaux]" class="form-select">
											<option value="Type de travaux" disabled selected>Type de travaux</option>
											<option value="installation neuve">installation neuve</option>
											<option value="remplacement">remplacement</option>
											<option value="réparation">réparation</option>
											<option value="entretien">entretien</option>
										</select>
									</div>
									<div class="col-6 ">
										<select id="popin_typechauffage" name="popin[typechauffage]" class="form-select">
											<option value="Type de chauffage" disabled selected>Type de chauffage</option>
											<option value="gaz de ville">gaz de ville</option>
											<option value="gaz en citerne">gaz en citerne</option>
											<option value="fioul">fioul</option>
											<option value="électrique">électrique</option>
											<option value="bois">bois</option>
											<option value="géothermique">géothermique</option>
											<option value="solaire">solaire</option>
											<option value="pellets">pellets</option>
											<option value="autre">autre</option>
										</select>
									</div>
									<div class="col-6">
										<select id="popin_nbrpieces" name="popin[nbrpieces]" class="form-select">
											<option value="Nombre de pieces" disabled selected>Nombre de pieces</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="+ de 5">+ de 5</option>
										</select>
									</div>
									<div class="col-4 mb-2"><input type="number" id="popin_surfacetotal" name="popin[surfacetotal]" required="required" class="form-control" placeholder="Surface total">
									</div>
									<div class="col-6 ">
										<select id="popin_modechauffacge" name="popin[modechauffacge]" class="form-select">
											<option value="Mode de chauffage" disabled selected>Mode de chauffage actuel</option>
											<option value="gaz de ville">gaz de ville</option>
											<option value="gaz en citerne">gaz en citerne</option>
											<option value="fioul">fioul</option>
											<option value="électrique">électrique</option>
											<option value="bois">bois</option>
											<option value="géothermique">géothermique</option>
											<option value="solaire">solaire</option>
											<option value="pellets">pellets</option>
											<option value="autre">autre</option>
										</select>
									</div>
									<div class="col-6 mb-2">
										<select id="popin_chaudiere" name="popin[chaudiere]" class="form-select">
											<option value="Chaudière" disabled selected>Avez-vous une chaudière</option>
											<option value="oui">oui</option>
											<option value="non">non</option>
										</select>
									</div>
									<div class="col-12 mb-2">
										<select id="popin_localchaudiere" name="popin[localchaudiere]" class="form-select">
											<option value="Local de chaudière" disabled selected>Disposez-vous d'un local de chaudière</option>
											<option value="oui">oui</option>
											<option value="non">non</option>
										</select>
									</div>
									<div class="col-6 mb-2">
										<select id="popin_debuttravaux" name="popin[debuttravaux]" class="form-select">
											<option disabled selected>Début des travaux</option>
											<option value="au plus vite">au plus vite</option>
											<option value="dans 1 mois">dans 1 mois</option>
											<option value="dans 2 mois">dans 2 mois</option>
											<option value="dans 6 mois">dans 6 mois</option>
											<option value="dans 1 an">dans 1 an</option>
											<option value="pas de date fixée">pas de date fixée</option>
										</select>
									</div>

									<div class="col-6">
										<select id="popin_objectif" name="popin[objectif]" class="form-select">
											<option disabled selected>Objectif de votre demande</option>
											<option value="trouver une entreprise disponible">trouver une entreprise disponible</option>
											<option value="obtenir des devis">obtenir des devis</option>
											<option value="Avoir une idée du prix">Avoir une idée du prix</option>
											<option value="autre">autre</option>
										</select>
									</div>


								</div>
							</div>
							<div class="col-6 border-start border-secondary border-3" style="border-color: #ff8c00 !important;">
								<div class="row">
									<h2>
										<i class="bi bi-person text-troisieme me-2"></i>Mes coordonnées</h2>
									<div class="col-2 mb-2">
										<select id="popin_sexe" name="popin[sexe]" class="form-select">
											<option value="M">M</option>
											<option value="Mme">Mme</option>
											<option value="Mlle">Mlle</option>
										</select>
									</div>
									<div class="col-5">
										<input type="text" id="popin_nom" name="popin[nom]" required="required" maxlength="255" class="form-control" placeholder="Nom">
									</div>
									<div class="col-5">
										<input type="text" id="popin_prenom" name="popin[prenom]" required="required" maxlength="255" class="form-control" placeholder="Prénom">
									</div>
									<div class="col-6 mb-2">
										<select id="popin_vousetes" name="popin[vousetes]" class="form-select">
											<option value="" disabled selected>Vous êtes ...</option>
											<option value="particulier">particulier</option>
											<option value="société">société</option>
											<option value="commerçant">commerçant</option>
											<option value="industriel">industriel</option>
											<option value="profession libérale">profession libérale</option>
											<option value="syndic de copropriété">syndic de copropriété</option>
											<option value="promoteur-constructeur">promoteur-constructeur</option>
											<option value="administration">administration</option>
											<option value="association">association</option>
											<option value="architecte">architecte</option>
											<option value="agence immobilière">agence immobilière</option>
											<option value="autre">autre</option>
										</select>
									</div>
									<div class="col-6">
										<select id="popin_et" name="popin[et]" class="form-select">
											<option value="" disabled selected>et ...</option>
											<option value="propriétaire occupant">propriétaire occupant</option>
											<option value="propriétaire bailleur">propriétaire bailleur</option>
											<option value="futur propriétaire">futur propriétaire</option>
											<option value="locataire">locataire</option>
											<option value="futur locataire">futur locataire</option>
											<option value="administrateur">administrateur</option>
											<option value="autre">autre</option>
										</select>
									</div>
									<div class="col-6 mb-2"><input type="number" id="popin_codepostal" name="popin[codepostal]" required="required" step="any" class="form-control" placeholder="Code postal">
									</div>
									<div class="col-6"><input type="text" id="popin_ville" name="popin[ville]" required="required" maxlength="255" class="form-control" placeholder="Ville">
									</div>
									<div class="col-6"><input type="email" id="popin_email" name="popin[email]" required="required" class="form-control" placeholder="Email"></div>
									<div class="col-6 mb-2"><input type="tel" id="popin_telephone" name="popin[telephone]" required="required" data-controller="base--mask" data-base--mask-alias-value="telephone" class="form-control" placeholder="Telephone"></div>
									<label class="col-form-label col required" for="popin_de">Précisez une heure pour convenir d'un appel téléphonique</label>
									<div class="col"><input type="text" id="popin_de" name="popin[de]" required="required" maxlength="255" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-check"><input type="checkbox" id="popin_cgu" name="popin[cgu]" required="required" class="form-check-input" value="1">
									<label class="form-check-label required" for="popin_cgu">J'accepte les conditions d'utilisation (voir politique de vie privée)</label>
								</div>
							</div>
						</div>
					</div>
				</div>


			</form>
			<div class="modal-footer">
				<blockquote>Ces informations servent au site Picbleu ou aux entreprises de confiance sélectionnées par Picbleu pour vous contacter et traiter votre demande.</blockquote>

				<button type="button" class="btn btn-primary">Envoyer</button>
			</div>
		</div>
	</div>
