<div class="d-flex flex-row justify-content-start mb-4">
	<img src="/build/andre.jpeg" class="rounded-circle" style="width: 45px; height: 100%;">
	<div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
		<p class="small mb-0">
			REPONSE
		</p>
	</div>
	<p class="small mb-0 float-end">
		il y a DATE
	</p>
</div>