<h4>Demande de réinitialisation de mot de passe de votre compte sur Picbleu.fr</h4>

<p>Afin de réinitialiser votre mot de passe, merci de cliquer sur le lien ci-dessous.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans une
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement, l'équipe de Picbleu</p>