{% extends 'base.html.twig' %}

{% block title %}
	{{page.nom}}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="col-lg-6 col-12 mx-auto">
				<h1>{{page.nom|capitalize}}</h1>
				<p>{{page.valeur|raw}}</p>
			</div>
		</div>
	</div>
{% endblock %}