<html>
	<body>
		<div class="container">
			<div class="d-flex justify-content-between px-3">
				<div class"logo">
					<img src="{{logo}}">
				</div>
				<div class="info">
					<h1>Devis</h1>
					<div class="d-flex justify-content-between">
						<dt>Devis N°</dt>
						<dd>{{devis.id}}</dd>
						<dt>Date</dt>
						<dd>{{devis.updatedAt|date('d/m/Y')}}</dd>
					</div>
				</div>

			</div>

		</div>

	</body>
</html>
